body {
    margin: 0;
    padding: 0;
    background-color: $primary-bg;

    p {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 0px;
    }
}