footer {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;

    @media (min-width: $breakpoint-desktop) {
        padding: 0 20px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row-reverse;
            justify-content: right;
            gap: 50px;
            padding: 20px 50px;
            align-items: center;
          }


        .footer-logo {
            font-family: $font-logo;
            font-size: 18px;
            margin-top: 10px;
            font-weight: 400;

            @media (min-width: $breakpoint-desktop) {
                
            }
        }

        .footer-links {
            list-style: none;
            padding: 0;

            @media (min-width: $breakpoint-desktop) {
                display: flex;
                flex-direction: row;
                align-items: center;
              }

            li {
                margin: 10px 0;

                @media (min-width: $breakpoint-desktop) {
                    margin: 0 15px;
                  }

                a {
                    color: #fff;
                    text-decoration: none;
                    font-family: $font-body;
                    font-size: 16px;
                    font-weight: 400;

                    i {
                        margin-right: 8px;
                    }

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}